In [ ]:
### Toy example from https://www.statsmodels.org/dev/vector_ar.html

In [1]:
# some example data
In [1]: import numpy as np

In [2]: import pandas

In [3]: import statsmodels.api as sm

In [4]: from statsmodels.tsa.api import VAR

In [5]: mdata = sm.datasets.macrodata.load_pandas().data

# prepare the dates index
In [6]: dates = mdata[['year', 'quarter']].astype(int).astype(str)

In [7]: quarterly = dates["year"] + "Q" + dates["quarter"]

In [8]: from statsmodels.tsa.base.datetools import dates_from_str

In [9]: quarterly = dates_from_str(quarterly)

In [10]: mdata = mdata[['realgdp','realcons','realinv']]

In [11]: mdata.index = pandas.DatetimeIndex(quarterly)

In [12]: data = np.log(mdata).diff().dropna()

# make a VAR model
In [13]: model = VAR(data)

C:\Users\celes\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: No frequency information was provided, so inferred frequency Q-DEC will be used.
  self._init_dates(dates, freq)

In [2]:
data

             realgdp  realcons   realinv
1959-06-30  0.024942  0.015286  0.080213
1959-09-30 -0.001193  0.010386 -0.072131
1959-12-31  0.003495  0.001084  0.034425
1960-03-31  0.022190  0.009534  0.102664
1960-06-30 -0.004685  0.012572 -0.106694
...              ...       ...       ...
2008-09-30 -0.006781 -0.008948 -0.017836
2008-12-31 -0.013805 -0.007843 -0.069165
2009-03-31 -0.016612  0.001511 -0.175598
2009-06-30 -0.001851 -0.002196 -0.067561
2009-09-30  0.006862  0.007265  0.020197

[202 rows x 3 columns]